<header class="app-header">
  <div class="header-content">
    <div class="header-left">
      <h1 class="header-title">{{ title }}</h1>
      @if (subtitle) {
        <p class="header-subtitle">{{ subtitle }}</p>
      }
    </div>
    
    <div class="header-right">
      @if (showAddButton) {
        <button 
          mat-raised-button 
          color="primary" 
          class="add-button"
          (click)="onAddClick()">
          <mat-icon>{{ addButtonIcon }}</mat-icon>
          {{ addButtonText }}
        </button>
      }
      
      <div class="user-info">
        <div class="user-avatar">
          <mat-icon>person</mat-icon>
        </div>
        <span class="user-email">{{ user?.email }}</span>
      </div>
    </div>
  </div>
</header>
